.item {
  background: #b4bac0;
}

.image-container{
  position: relative;
}

.marker {
  width: 8px;
  height: 8px;
  background-color: green;
  position: absolute;
  transform: translate(-50%, -50%);
}

.flex-image {
  flex: 1;
  max-width: 100%;
  height: auto;
}


