<div class="container">
  <div class="row">
    <div class="card item col-md-4">
      <div class="card-header">
        Upload your images here
      </div>
      <p class="p-3">
        <input accept=".jpg, .png, .jpeg" type="file" class="form-control" (change)="uploadedImage($event)">
      </p>
      <div>
        <p style="margin-left: 3%">This is a license plate corner marker labeling tool.<br>
          To use this program, please follow this simple steps:<br>
          1. Upload your image. Accepted are .jpg, .jpeg and .png<br>
          2. Mark your corner points in the image. Please follow this clockwise order:<br>
          TOP-LEFT Corner, TOP-RIGHT Corner, BOTTOM-RIGHT Corner, BOTTOM-Left Corner. <br>
          3. Once you are done click the Finish button below:
        </p>
        <button class="btn btn-secondary" style="margin-bottom: 3%; margin-left: 3%" [disabled]="!enableFinish" (click)="finishLicenseAndPushArray()">Finish</button>
      </div>
      <div *ngIf="showLicensePoints" style="margin-left: 3%">
        <p>Top Left: x={{licencePlates[labelCounter].topLeft.x}} y={{licencePlates[labelCounter].topLeft.y}}</p>
        <p>Top Right: x={{licencePlates[labelCounter].topRight.x}} y={{licencePlates[labelCounter].topRight.y}}</p>
        <p>Bottom Right: x={{licencePlates[labelCounter].botRight.x}} y={{licencePlates[labelCounter].botRight.y}}</p>
        <p>Bottom Left: x={{licencePlates[labelCounter].botLeft.x}} y={{licencePlates[labelCounter].botLeft.y}}</p>
      </div>
    </div>
    <div class="card item col-md-8" >
      <div class="card-header">
        Select your number plate corners here
        <div *ngIf="imageExists">
          <p>The photo you tried to label has already been labeled!</p>
        </div>
        <div class="image-container" *ngIf="!imageExists">
          <img [src]="imageURL" *ngIf="imageURL" id="carimage" (click)="addCornerPoints($event)" class="card-img-top img-fluid">
          <div *ngFor="let marker of positionsArray" class="marker" [style.left.px]="marker.x" [style.top.px]="marker.y"></div>
        </div>
      </div>
    </div>
  </div>
</div>
